{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container mt-5">
            <h4 class="mb-4">At last! A step-by-step reading program that presents the foundation reading and writing skills a child must master in the early years of formal schooling.</h4>

            <p>Included are activities to share, sound awareness instruction, phonics, reading and writing activities. All contribute to make learning to read successful and stress-free.
                This program is a resource for parents and caregivers of young children... all in a softcover book.</p>


            <p>
            You know that learning to read is critical to your child's academic success. Reading has a tremendous impact on their emotional and social development throughout their life as well.

            I am also sure that you, as a parent, know the influential role you occupy in your child's learning.

            The emotional dimensions of early learning cannot be overstated. Experience and conversation play vital roles.
            Remember you are the only person who can give your child the individual attention a young child learning to read requires.

            When a young child is learning to read, they benefit hugely from systematic, and direct teaching of several sub-skills and vocabulary development.

            Your child's brain is programmed for speaking but not for reading.

            When learning to speak a child learns the rules of spoken language by associating and communicating with the people around them.

            They will not discover the rules of spoken language the same way.
            So many children fail to learn to read not because there is something wrong with them but because they haven't been taught.
            </p>


            <p><b>If you can read, you can teach your child to read.</b></p>
            <p><b>My 'Reading Program for Kids' is the perfect resource to support you.</b></p>

                <div class="row  justify-content-center align-items-center mt-3">
                <a class="btn btn-light buy-btn" href="https://intertype.infusionsoft.com/app/manageCart/addProduct?productId=234">Buy Now</a>
            </div>


                    <img class="img-fluid rounded mx-auto d-block m-5" src="{% static 'main/kidsReading.jpg' %}"
                     alt="reading with kids"
                     height="500" width="500">
</div>

<div class="bg-blue">
    <div class="container text-light p-5">

    <h5 class="mb-2">The <b>KEY</b> ingredients for effective early reading instruction are step-by-step instructions in:</h5>

    <ul>
        <li>Phonemic or sound awareness</li>
        <li>Knowledge of letter-sound relationships known as phonics</li>
        <li>Word building</li>
        <li>Vocabulary development</li>
        <li>Reading accessible texts where words are easy to sound out and are part of a young child's vocabulary</li>
    </ul>

    <p>The program begins with phonemic or sound awareness activities.</p>

    <p>These are oral activities with nine different activities, including:</p>

    <ul>
        <li>Sound discrimination</li>
        <li>Using children's stories to play with speech sounds</li>
        <li>Rhyming Game</li>
        <li>Sound Boxes</li>
        <li>Counting Sounds in Words</li>
    </ul>

    <p>You and your child will enjoy these clearly explained, important pre-reading activities. </p>

    <p>A lesson plan shows you how to teach your child to recognise letters.</p>

    <p> You are shown how to teach your child to write upper and lower case letters.</p>
    </div>
</div>

<div>

</div>
    <div class="container">
    <h3 class="py-5">The step-by-step program begins next</h3>

    <p>There are 23 lessons for you to follow.  You move through them slowly and carefully. Reading sentences is introduced early in the program.</p>

    <p>Thirteen easy texts are included for your child to read.  Outlined are twelve reading strategies. You can introduce them to your child where appropriate.</p>

    <p>The easy texts include:</p>

    <ul>
        <li>Short Sentences</li>
        <li>Days to Play – Names of the Days of the Week</li>
        <li>Fishing – Numbers in Words</li>
        <li> Everyday activities:
            <ul>
                <li>A Game of Cricket</li>
                <li>A Day at the Beach</li>
            </ul>
        </li>
        <li> Non-Fiction:
            <ul>
                <li>Planet Earth</li>
                <li>The Owl</li>
                <li>The Wombat</li>
                <li>Clever Ants</li>
            </ul>
        </li>
    </ul>

    <p> Twenty graded Traditional Stories follow the graded texts. These will develop your child's reading fluency as well as provide plenty of discussions.</p>

    <p>Included are:</p>

    <ul>
        <li>The Lion and the Mouse</li>
        <li>The Hare and the Tortoise</li>
        <li>A Stone in the Road</li>
        <li>King Midas</li>
        <li>The Tortoise Who Talked Too Much</li>
        <li>The Three Billy Goats Gruff</li>
        <li>How the Drought was Broken</li>
    </ul>

    <p>The appendix contains:</p>
    <ul>
        <li>Reading Behaviour Checklists to monitor your child's progress.</li>
        <li>Ayre's Spelling List</li>
        <li>Phonograms Record Sheet</li>
    </ul>

    <p><b>'Reading Program for Kids'</b> covers the instruction for the first three years of formal schooling. You are not limited to your child's age but their progress.</p>

    <p>As you work through it, you will find it easy to present activities you are inspired to create.</p>

    <p>You can read the stories for reading pleasure as bedtime stories to prepare your child for reading them further along the track. </p>
</div>

<div class="bg-blue">
<div class="container text-light">
    <div class="row justify-content-center">
        <h3 class="pt-5">"Reading Program for Kids"</h3>
    </div>
    <div class="row justify-content-center">
        <h4 class="pb-5">Belongs in the Home of Every Caring Family</h4>
    </div>



    <p>As you can see, <b>"Reading Program for Kids"</b> takes your child by the hand and leads him or her on the path to reading success.</p>

    <p>What's really exciting is you can order the book here, and have it delivered to your front door in a few days.</p>

    <ul>
        <li><b>So forget about searching for activities to improve your child's reading and writing...</b></li>
        <li><b>Stop worrying about how you can help them on the road to fluent reading...</b></li>
        <li><b>And forget worrying about your child's academic future...</b></li>
    </ul>

    <p>Forget about all of that.</p>

    <p>Because for just $25.00 (postage included) you can get your very own copy of <b>"Reading Program for Kids"</b>. You'll be on your way to supporting your child to gain one of the essential skills they will ever need to learn.</p>

    <p>Click on the link below and get taken to our secure ordering page. Just follow the directions and in no time your "Reading Program for Kids" will arrive at your front door.</p>
</div>
<div class="row  justify-content-center align-items-center mt-3">
    <a class="btn btn-light buy-btn" href="https://intertype.infusionsoft.com/app/manageCart/addProduct?productId=234">Buy Now</a>
</div>
</div>

{% endblock %}