{% extends 'base.html' %}
<style>

    video {
        display: block;
        width: 100%;

    }

</style>
{% load static %}
{% block content %}
    <div class="container">
        <div class="row align-items-center m-3 pt-5">
            <div class="col-12 col-sm-6 mb-3">
                <div class="row">
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'main/book3.png' %}"  width="500" height="500" alt="image of book">
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="row justify-content-center mb-5">
                    <video controls width="512">
                        <source src="{% static 'main/reading-program-for-kids.mp4' %}" type="video/mp4">
                    </video>
                </div>
                <div class="row">
                    <p><b>'Reading Program for Kids' is for:</b></p>
                        <ul>
                            <li><b>Parents of children with reading difficulties who want to give their children extra help or an earlier start with learning to read.</b></li>
                            <li><b>Children diagnosed with dyslexia who need one-on-one tuition.</b></li>
                            <li><b>Students who have English as a second language and need a systematic way to learn the English Alphabetic System.</b></li>
                            <li><b>Students who want to improve their comprehension of English texts by revising phonics.</b></li>
                            <li><b>This Program engages kids and makes learning to read engaging and stress-free.</b></li>
                        </ul>

                    <p>The program includes 20 Traditional stories for reading pleasure. These stories are graded
                        and are suitable for the systematic development of reading fluency.</p>

                </div>
                <div class="row  justify-content-center align-items-center mt-3">
                    <a class="btn btn-light buy-btn" href="https://intertype.infusionsoft.com/app/manageCart/addProduct?productId=234">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-6 pb-5">
                <h2 class="my-5" id="aboutAuthor">About the Author</h2>
                    <p>Marilyn trained as a teacher-librarian specialising in children's literature and developed a
                        career around her love of books and reading.</p>
                    <p>She also spent some time as an educational consultant for two publishers visiting many schools
                        and demonstrating educational resources to teachers.</p>
                    <p>Marilyn has taught English and mathematics to children from the beginning grade to year nine in
                        secondary schools.</p>
                    <p>She found many opportunities to teach children who had difficulty learning to read. She taught
                        many students in schools and is still does as a private tutor.</p>
                    <p>After sitting with many frustrated students who did not know how to decode, Marilyn developed a
                        series of lessons that gave them the ability to sound out words quickly.</p>
                    <p>These lessons are the foundation of "Reading Program for Kids".</p>

            </div>
            <div class="col-12 col-sm-6">
                 <img class="img-fluid d-block mx-auto" src="{% static 'main/headshot_edit.png' %}"
                      alt="Marilyn Martin Photo" width="300" height="300">
            </div>
        </div>
    </div>
{% endblock %}