{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row align-items-center m-3 pt-5">
            <div class="col-12 col-sm-6 mb-3">
                <img class="img-fluid rounded mx-auto d-block" src="{% static 'main/book3.png' %}"  width="500" height="500" alt="image of book">
            </div>
            <div class="col-12 col-sm-6">
                <div class="row">
                    <p>The most important skill a child must learn during their primary school years is <b>reading</b>.</p>
                    <p>To function successfully in modern society, everyone needs the skills of reading and writing.</p>
                    <p>Intellectual development depends on the ability to read.</p>
                    <p>A child must establish the fundamental reading and writing skills during the first for years of primary school.</p>
                    <p>The introduction to the Alphabet Code is a new experience for a young child who can already speak the language of their family and society.</p>
                    <p>Reading and writing involve linking the invisible patterns of oral language with visible symbols.</p>
                    <p><b>'Reading Program for Kids'</b> is the perfect resource that makes learning to read a successful and satisfying experience when a child is taught the reading sub-skills step-by-step.</p>
                </div>
                <div class="row  justify-content-center align-items-center mt-3">
                    <a class="btn btn-light buy-btn" href="https://intertype.infusionsoft.com/app/manageCart/addProduct?productId=234">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-sm-6 pb-5">
                <h2 class="my-5" id="aboutAuthor">About the Author</h2>

                <p>
                    Marilyn Martyn has experience from decades of teaching in primary, secondary, and technical schools, in Victoria, Australia. She is trained and experienced as a reading specialist as well.
                    Her decades of teaching and years of one-on-one tutoring and the knowledge of children's literature is summarised in her book 'Reading Program for Kids'. Marilyn trained as a teacher-librarian specialising in children's literature and developed a career around her love of books and reading.
                    She also spent some time as an educational consultant for two publishers visiting many schools and demonstrating educational resources to teachers.
                    Marilyn has taught English and mathematics to children from the beginning grade to year nine in secondary schools.
                </p>
                <p>
                    She found many opportunities to teach children who had difficulty learning to read. She taught many students in schools and is still does as a private tutor.
                    After sitting with many frustrated students who did not know how to decode, Marilyn developed a series of lessons that gave them the ability to sound out words quickly.
                    These lessons are the foundation of "Reading Program for Kids".
                    Marilyn is on a mission. She is eager to share her knowledge and experience with parents who can tutor their child in the comfort of their home.
                    Marilyn wants as many children as possible to become fluent readers and writers.
                </p>
            </div>
            <div class="col-12 col-sm-6">
                 <img class="img-fluid d-block mx-auto" src="{% static 'main/headshot_edit.png' %}"
                      alt="Marilyn Martin Photo" width="300" height="300">
            </div>
        </div>
    </div>
{% endblock %}